{% extends 'base.html.twig' %}


{% block body %}
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Nos Producteurs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/inscription">Notre histoire</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					 
					<button type="button" class="btn btn-primary active btn-md">
						Connexion
					</button>
					<button type="button" class="btn btn-primary active btn-md">
						Inscription
					</button>
				</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}
